@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

.navbar {
  width: 100%;
  height: 50%;
  background-color: rgba(204, 0, 20, 0.2);
}
.nav-logo {
  padding: none;
  cursor: pointer;
}

.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icons {
  display: none;
}
.nav-toggle {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  color: var(--primaryCol);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  color: var(--mainWhite);
  font-family: "Russo One";
  font-size: large;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.nav-link:hover {
  color: var(--primaryCol);
  background: var(--darkGrey);
  padding-left: 2.5rem;
}

.my_cart {
  margin-left: 5rem;
}
/* 272  */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.show-links {
  height: 290px;
}

/* fixed navbar  */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--mainGrey);
  transition: var(--mainTransition);
  box-shadow: var(--lightShadow);
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    height: auto;
  }
  .nav-icons {
    display: flex;
  }
  .nav-center {
    width: 100%;
  }
  .nav-center {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0;
  }
  .nav-link {
    padding: 0;
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
  }
  .navbar {
    padding: 0 2rem;
  }

  .nav-link {
    margin-right: 1rem;
  }
  .nav-icon {
    margin-right: 0.7rem;
    color: var(--mainWhite);
    font-size: 1.7rem;
    transition: var(--mainTransition);
  }
  .nav-icon:hover {
    color: var(--primaryCol);
    transform: translateY(-10px);
  }
  .nav-logo {
    display: flex;
    justify-content: flex-start;
  }
}

.container {
  /* display: flex; */
  position: absolute;
  margin: auto;

  right: 0;
  width: 300px;
  height: 8px;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 40px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  .container,
  .search {
    display: none;
  }
}
