<!-- <<<<<<hero component>>>>>> -->
<!-- hero video  -->
<video
  id="videoBG"
  onloadedmetadata="this.muted=true"
  autoplay
  loop
  preload="auto"
>
  <source src="assets\Truemato.mp4" type="video/mp4" />
</video>
<!-- end of hero video  -->
<div class="hero">
  <div class="hero-banner">
    <h1 class="hero-title">
      Order <span class="hero_red"> Now.</span>
      <span class="cursor">&nbsp;</span>
    </h1>
    <p class="hero-text"></p>
    <a routerLink="/restaurants" class="btn-white scroll-link"
      >explore restaurants near me</a
    >
  </div>
</div>
