/**********************hero* ************************/
.hero {
  /* min-height: calc(100vh - 62px); */
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.3) 0%,
    rgba(204, 0, 20, 0.2)
  );
  min-height: 100vh;
  position: relative;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--primaryCol);
  padding: 0 2rem;
}
.hero-title {
  color: var(--mainWhite);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
  overflow: hidden;
  padding: 0.5rem;
}
.hero_red {
  color: var(--primaryCol);
  animation: switch 0.8s infinite;
}
@keyframes switch {
  0% {
    color: var(--mainWhite);
  }
  49% {
    color: var(--mainWhite);
  }
  50% {
    color: var(--primaryCol);
  }
  99% {
    color: var(--primaryCol);
  }
  100% {
    color: var(--mainWhite);
  }
}
/* animation for cursor  */

.cursor {
  display: inline-block;
  width: 5px;
  background-color: var(--mainWhite);
  margin-left: 0.1rem;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    background-color: var(--primaryCol);
  }
  49% {
    background-color: var(--primaryCol);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--primaryCol);
  }
}
/* end of animation cursor */
.hero-text {
  color: var(--offWhite);
  width: 85%;
  font-weight: 400;
  margin: 0 auto;
  letter-spacing: var(--mainSpacing);
}
#videoBG {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-text {
    width: 70%;
  }
  .hero-banner {
    opacity: 1;
  }
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
/**********************end of hero**************************/
