<div class="checkout">
  <div class="checkout__left">
    <img class="checkout__ad" src="assets/ad_banner.jpg" alt="AD_BANNER" />

    <div class="checkout__title">
      <h3>
        Hello,<strong>[USER_name]</strong>
        <!-- User text replaced with data from backend. -->
      </h3>
      <h2>Your Selected Orders:</h2>
    </div>
  </div>

  <div class="checkout__right">
    <div class="subtotal">
      <p>Subtotal:<strong>₹</strong></p>
      <small class="subtotal__delivery">
        <input type="checkbox" /> Make This A No-Contact Delivery
      </small>
      <button>Place Order</button>
    </div>
  </div>
</div>
